.carousel_linea {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slides_linea {
    display: flex;
    transition: transform 4s ease; /* Mantén la transición lenta */
    width: 200%; /* Doble del ancho para mostrar una imagen a la vez */
}

.slides_linea img {
    width: 50%; /* Ancho del 50% para mostrar una imagen a la vez */
    height: auto;
}

.indicatorsl_linea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.indicatorsl_linea button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff29;
    padding: 3px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.indicatorsl_linea button.active {
    background-color: #ffffff8a;
}
