
/*about de tarjeta distribuidores */
.infor_distribuidor{
    padding-top:20px ;
    text-align: left;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
  }

  .mostrar{
    display:none;  }

  .titulo { 
    color: #E2001A;
    font-family: Oswald;
    font-size: calc(0.7em + 0.7vw);
    line-height: 1.5em;
    margin: 0em 0em 1em 1em;
   }
/*about de  division de tarjetas distribuidores */
  .about_distribuidor {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
   
  }
 
  /*TITULO DE LOS DISTRIBUIDORES*/
  .h3distri {
    font-size: 20px;
    color: #666464de;
    text-transform: uppercase;
    border-bottom: 1px solid #E2001A; ;
    font-weight: 300;
    line-height: 1.3em;
    margin-bottom: 19px;
    margin-top: 6px;
    padding-bottom: 6px;
  }
/*estilos de las trajetas */
.cards .card{
    background: #E5E5E5;
    display: flex;
    width: 80%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}
/*DIVISION PRINCIPAL DE DISTRIBUIDORES */
.div_pri_distri{ 
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns:30% 70%;
  row-gap: 20px;
}

/*DISTIUIDORES*/
.div_distri{ 
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
}

.about_tex_dist{
	text-align: left;
	line-height: 2;
	max-width: 100%;
}

.linj { 
    color:  #E2001A; 
  }
  .linj:hover { 
    color:  #666; 
  }

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #000;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*redes*/
.flex_distr {
display: flex;
flex-flow: wrap;
gap: 20px;
padding: 10px;
align-items: center;
}
.redes_distr {
  background-repeat: no-repeat;
  background-size: 20px;
  height: 35px;
  width: 35px;
  background-position: center;
  background-color: rgb(157, 158, 158);
  border-radius: 3rem;
}

.redes_distr:hover{
  background-color: #E2001A

}
@media all and (max-width: 968px){

  .ocultar{
    display:none;  }

    .mostrar{
      display:block;  }
      

  .div_pri_distri{ 
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns:100%;
    row-gap: 20px;
  }
/*DISTIUIDORES*/
.div_distri{ 
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
}
.cards .card{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .card img{
    width: 90px;
    height: 90px;
}


.about_distribuidor {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
   
  }
}