 .img_fil {
    width: 36%;
    height: auto;
    float: right;
    padding: 20px;
}


table.pro {
    background-color: #FFF;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-size: calc(0.45em + 0.45vw);
}
thead.pro {
    background-color: #E2001A;
    color: white;
    border: 1px solid #fff;
}
tr.pro, td.pro {
    border-top: 0.5px solid #CCCCCC;
    padding: 0.5em;
    border: 1px solid #CCC;
}
tr.pro, td.pro {
    border-top: 0.5px solid #CCCCCC;
    padding: 0.5em;
    border: 1px solid #CCC;
}

  .img_fil_aceite {
    width: 29%;
    height: auto;
    float: right;
    padding: 30px;
}

.img_fil_combus {
    width: 40%;
    height: auto;
    float: right;
}


   @media (max-width: 840px) {
    .img_fil {
        width: 70%;
        height: auto;
        float: none;
        display: block; 
        margin: auto;   
    }
}

@media (max-width: 600px) {
    .img_fil, .img_fil_aceite, .img_fil_combus {
        width: 50%;
        padding: 10px;
    }
}