.color_f{
    background: rgb(244,244,244);
background: radial-gradient(circle, rgba(244,244,244,1) 100%);
}
.div_logo{

   display:grid;
   gap:1rem;
   grid-auto-rows:15rem;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   margin-bottom: 2rem;
   margin-top: 2rem;

}

.div_img_logo{

   
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%; 
    align-items: center;
    justify-items: start;
    padding: 2em;
    gap: 2em;
}


.div_rojo{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    height: 75%;
    background: #E2001A;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}
.div_rojo_fb{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    height: 100%;
    background: #E2001A;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}
.div_blanco{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    height: 75%;
    background: #ffffffd2;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}

.div_blanco_encabezados{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    /*height: 75%;*/
    background: #ffffffd2;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}
.div_negro{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    height: 75%;
    background: #000;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}

.div_negro_encabezados{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    /*height: 75%;*/
    background: #000;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}

.div_gris_encabezados{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    /*height: 75%;*/
    background: #E9E4E1;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}
.div_amarillo{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    height: 100%;
    background: #FCDD0D;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}

.div_blanco_sombralogo{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    height: 100%;
    background: #ffffffd2;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
}
.div_azul{
    text-align: center;
    width: 90%;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 20px;
    height: 100%;
    background:#384896 ;
    border:10px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
 

}
.div_img{
    max-width: 550px;

}

.img_ej{

    position: relative;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border:15px solid #FFFFFF;
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);

}



.div_logo img{
    width: auto;
    height: auto;
    padding: 1.5em 0em;
}


.bt_desc_log{
text-decoration: none;
margin:  20px 30px;
background-color: #E2001A;
padding: 10px 20px;
border-radius: 10px;
color:#fff;
font-size: 20px;
box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.67);
transition: all .3s; 

}
.bt_desc_log:hover {
    background-color: #E2001Ac8;
    color:#fff;
    box-shadow: 5px 4px 6px #dcdde1;

}

.text__des_logo {
    font-size: calc(0.8em + 0.8vw);
    line-height: 1.4em;
    padding: 0.7em;
    margin: 1em 10em 0em 6em;
    text-align: center;
}
.title_descarg_logo {
    font-family: Oswald;
    font-size: calc(1em + 1vw);
    line-height: 1.5em;
    margin: 1em 0em 1em 1.8em;
  
}


.title_manual_logo {
    font-family: Oswald;
    font-size: calc(1em + 1vw);
    line-height: 1.5em;
  
}
.flex_manual{

display: flex;
width: 100%;
gap: 25px;
}


.col-manual-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  
  .col-manual-3 {
    flex: 0 0 auto;
    width: 25%;
  }
.col-manual-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  
.col-manual-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

.col-manual-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  
  
  .col-manual-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }


  .ul_manual{
    list-style: none;
  line-height: 1.9em;
  margin-bottom: 2em;
  margin-left: 3em;

}

.ul_manual li::before {
	content: ".";
	color: red;
	font-weight: bold;
}
    

.card-manual{
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
    width: 70%;
    background-color: rgba(255,255,255,0.8);
    transition: 0.9s;
    border-radius: 20px;
   /* margin-bottom: 2em;
    margin-left: 5em;*/
}
.margen_card-manual{
 
    margin-bottom: 2em;
    margin-left: 5em;
}

.card-img-maual img{
    width: 100%;
    padding: 20px
}

.card-maual-img{
    
    padding: 20px
}
.card-body-manual{ 
    padding: 25px;
    text-align: center;
    color: black;
}

.sombra {
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.h-100 {
    height: 100%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.giro90{
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */
    margin-top: 4em;
    }

 .giro45{
        transform:rotate(45deg);
        -ms-transform:rotate(45deg); /* IE 9 */
        -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
        margin-top: 4em;
        }

 .Linea_r {
     height: 3px;
     width: 80%;
    background-color: #E2001A;

          }
.div_papel {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

@media screen and (max-width: 1300px){
.text__des_logo {
    margin: 1.5em 4em 0em 2em;
}}

@media screen and (max-width: 968px){

    .card_manual{
    
        width: 90%;
                
    }

    .flex_manual {
   
        flex-direction: column;
    }

    .col-manual-2, .col-manual-3, .col-manual-4, .col-manual-5, .col-manual-8, .col-manual-6{
        flex: 0 0 auto;
        width: 100%;
      }

      .card-manual {
        width: 90%;
        margin-left: 1em;
    }
    
.div_img_logo{

   
    grid-template-columns: 50% 50%; 
    gap: 1em;

    }}

    @media screen and (max-width: 600px){
    
        .div_img_logo{
        
           
            grid-template-columns: 1fr; 
            gap: 1em;
        
            }}