
.galerias {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.subtitle_slider{

  font-family:Oswald;
    color: #ffffff;
	font-size: 20px;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.banda {
	padding: 0.1rem 0.4rem;
    border-radius: 1rem;
    background-color: #E2001A;
    color: #FFFFFF;
	width: 90%;
    height: 35px;


	

}
.glider-track {
    
    gap: 1em;
   
}
.overlay {
  
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	gap: 1em;
}

.overlay:hover {
    cursor: pointer;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #E2001A;
	opacity: 80%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.tutulo_np{
font-family: Oswald;
    font-size: calc(1.0em + 1.0vw);
    line-height: 1.5em;
    margin: 1em 0em 1em 0em;
    color: #E2001A;
}

.margen_carrusel{
margin-bottom: 10em;
}
.carousel__elemento {
	text-align: center;
	width: 85%;
    padding: 20px;
    margin: 10px 10px;
	/*border: 2px solid #F7F7F7;*/
    border-radius: 22px;
    height: 98%;
	background: #FFF;
    box-shadow: 1px 1px 10px 10px rgb(235 236 236);
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #E2001A;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

.img_galeria {
	width: auto;
	height: 160px;
}


@media screen and (max-width: 1230px) {



	.subtitle_slider{
		
		font-size: 0.8rem;
		padding: 5px;
	
	}
}


@media screen and (max-width: 968px) {



	.subtitle_slider{
		
		font-size: 0.7rem;
		padding: 5px;
	
	}
}
@media screen and (max-width: 800px) {

	.carousel__indicadores .glider-dot {
		display: none;
	}

	.subtitle_slider{
		
		font-size: 1rem;
		padding: 5px;
	
	}
}

@media screen and (max-width: 400px) {

.carousel__siguiente {
    right: -25px;
}
.carousel__anterior {
    left: -20px;
}
	}