
table.codigos{
    background-color: #FFF ;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-size: calc(0.5em + 0.5vw);
}

thead .codigos {
    background-color: #E2001A;
    color: white;
}

th.codigos, td.codigos{
    border-top: 0.5pt solid #CCCCCC;
    padding: 7px;
}
.tilt_blanco{
    text-transform: uppercase;
    font-family: Oswald;
    font-size: calc(0.6em + 0.6vw);
    line-height: 1em;
    margin: 0;
    letter-spacing: 0.07vw;
}
table.equivalencias{
    background-color: #FFF ;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-size: calc(0.5em + 0.5vw);
}

thead .equivalencias {
    background-color: #000000;
    color: white;
}

th.equivalencias, td.equivalencias{
    border-top: 0.5pt solid #CCCCCC;
    padding: 7px;
}

.campo {
  width: 10%;
}

.titulo_detalle {
    font-family: Oswald;
    font-size: calc(0.7em + 0.7vw);
    line-height: 1.4em;
     margin: 1em 0em 1em 0.5em;
}

.filtro_selec {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
    }


    
    .filtro_selec > div {
        width: 50%;
        padding: 3px;
}

.filtro_selec > div:first-child {
        margin-right: 20px;
}
  .datos {
        width: 100%;
    }

    .datos2 {
        width: 100%;
    }

    .datos4 {
        width: 100%;
    }
    
    .vehiculo_detalles_seleccionado{
        width: 80%;
        margin-bottom: 1em;
        border-collapse: collapse;
       font-size: calc(0.45em + 0.45vw);
    }

    .vehiculo_detalles_seleccionado tr{
        border-bottom: 1pt solid #DCD9D8;
        height: 2em;
    }

    .boton_atras {
        margin: 2em;
    }

    .bt_busq{
        width: 100px;
        margin: 10px;
    }

    .bt_vm, .bt_volver{
        max-width: 180px;
        margin: 10px;
        cursor: pointer;
    }
    .bt_marca {
    width: 90%;
    margin: 10px;
}

    .li_boton{
        display: flex;
    
        max-width: 500px;
    }

    .li_boton > div {
        width: 50%;
        padding: 10px;
}

    .boton_atras, .boton_volver{
        padding: 0.5em;
        text-align: center;
        font-weight: bold;
        color:white;
        background: #E2001A;
        transition: all 0.5s ease;
        box-shadow: #ccc;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.8);
        cursor: pointer;
      }
    
      .boton_atras:hover, .boton_volver:hover{  
         color: #E2001A;
         background: white;
         border: 1px solid red;
         box-shadow: none;  
      }

@media all and (max-width: 968px) {
    .filtro_selec {
      
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      
    .filtro_selec > div {
        width: 100%;
        padding: 5px;
}

.filtro_selec > div:first-child {
        margin-right: 10px;
}

}
@media all and (max-width: 664px) {

    

.li_boton {
    display: flex;
    flex-direction: column;
}
}
    
@media all and (max-width: 600px) {
    .aplicacion_producto {
    overflow-y: scroll;
    margin: 1em 6.5%;
    border: 0.5px solid #DEDDDD;
    min-height: 25em;
    max-height: 30em;
    padding: 1em;
}

.titulo_detalle {
 
    font-size: 1.5em;
}
table.apli {
    font-size: 13px;
    width: 40%;
}

table.eq, .vehiculo_detalles_seleccionado{
  
    font-size: 13px;
   
}
}
