* {
  margin: 0;
  padding: 0;
}

.wrapper video,
.wrapper img {
  position: absolute;
  width: 100%;
  height: 79vh;
  max-width: 2000px;
  max-height: 800px;
  object-fit: fill;
  transition: all 300ms linear;
  z-index: 1;
  opacity: 0;
  /* Inicialmente ocultos */
}

.wrapper {
  width: 100%;
  height: 830px;
}

.slides {
  opacity: 0;
  /* Todos los elementos están ocultos inicialmente */
}





@media (max-width: 968px) {

  .wrapper video,
  .wrapper img {
    max-width: 968px;
    max-height: 300px;
  }

  .wrapper {
    width: 100%;
    height: 40vh;
  }

}

@media (max-width: 600px) {

  .wrapper video,
  .wrapper img {
    max-width: 600px;
    max-height: 300px;
  }

  .wrapper {
    width: 100%;
    height: 40vh;
  }

}

@media (max-width: 400px) {

  .wrapper video,
  .wrapper img {
    max-height: 200px;
  }

  .wrapper {
    width: 100%;
    height: 30vh;
  }
}