/**estilo del mapa*/
.mapadiv {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}

.mapadiv {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}

.mapadiv path:not(.mapadiv_seleccionado) {
    stroke: #000000;
    stroke-width: 2px;
}

.mapadiv path.esequibo {
    fill: #ADADAD;
    stroke: #000000;
    stroke-width: 2px;
}

.mapadiv path:not(.mapadiv_seleccionado):not(.esequibo):hover {
    fill: rgb(227, 227, 227);
}

/**para seleccionar pintar el cuadro seleccionado segun su id**/
.mapadiv_seleccionado {
    fill: rgb(227, 227, 227);
    stroke: #000000;
    stroke-width: 2px;
}



.links {
    display: flex;
}

.links a {
    text-decoration: none;
    color: #E2001A !important;
    background-color: #ffffff;
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid #E2001A8c;
}

.linksp {
    text-decoration: none;
    color: #fff;
    background-color: #E2001A;
    padding: 0.75em;
    border: 1px solid #E2001A;
    border-radius: 5px;
    margin-bottom: 0rem !important;
}

.links a:active {
    color: #fff;
    background-color: #ffffff;
}

.linka {
    margin: 20px;
    align-items: center;
    align-content: center;
    justify-items: center;
}