* {
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: "OpenSans-Regular";
  src: url('./../../fonts/OpenSans-Regular.ttf');

}

@font-face{
font-family: "Oswald";
src: url('./../../fonts/Oswald-Regular.ttf');

}

html{
  scroll-behavior: smooth;
}

body {
  font-family: OpenSans-Regular;
  font-size: calc(0.65em + 0.65vw);
  font-weight: 400;
  color: #1A171B;
  background-color: #ffffff;
  line-height: 21px;
  margin: 0;
 
}

        /*heder*/

       .header_img {
         
    position: relative;
    width: 100%;
  
    max-height: 600px;

      }
      .home {
        display: flex;
        gap: 2em;
        flex-direction: column;
        width: 100%;
    }

    .img_icon_v {
     
    width: 65%;
    height: auto;
    float: right;

 }


	/** ligthbox zoom*/

  .ligthbox_text {
    position: fixed;
    z-index: 5;
    top: 25%;
    bottom: 5%;
    left: 20%;
    right: 20%;
    background: rgba(125,125,125,0.9);
    color: #fff;
    overflow-y: scroll;
}

.bont_inform {
  font-size: calc(0.5em + 0.5vw);
  line-height: 1.5em;
  text-align: justify;
  padding: 2em;
  margin-left: 1em;
  margin-right: 1em;
    
 }
 .informacion {
  font-size: calc(0.5em + 0.5vw);
  line-height: 1.5em;
  margin-right: 2em;
  margin-left: 3em;
  padding: 1em;
  text-align: left;
    
 }
 .informacion_li {margin-bottom: 1em;}

 .titulos_informac {
  font-family: Oswald;
  font-size: calc(0.7em + 0.7vw);
  line-height: 0.5em;
  text-align: center;
  padding: 0.5em;
}
 /*
  .btn-close {
    width: 35px;
    height: 35px;
    background: rgba(125,125,125,);
    border: 3px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 1px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

  .btn-impr {

  
    color: #fff;
    padding-top: 2px;
    position: absolute;
    top: 8px;
    right: 70px;
    cursor: pointer;
}*/
.boton:hover{
  cursor: pointer;
}
  
  /**/
.img_icon_m {
     
    width: 55%;
    height: auto;
    float: right;

 }
 .img_icon_rh {
  
  width: 60%;
  height: auto;
  float: right;

 }

    .grip_bt{
      display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-items: end;
  }
    .flex_img_boton{
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    text-transform: uppercase;
    align-content: flex-start;
    justify-content: space-evenly;
    padding-top: 2em;
  /*  position: absolute;*/
  }

  .flex_img_boton > div {
    width: 50%;
    padding: 3px;

}



.img_boton{
  max-width: 150px;
  margin-right: 10px;
  margin-top: 20px;
}


.img_boton_filtros{
  
  max-width: 550px;
  max-height: 300;
  /* padding: 3px; */
    margin: 0.5em 6em 0em 0em;
}
.about_mision_vi{


  display: grid;
    grid-template-columns: 18% 82%;
    align-items: start;
    justify-items: end;
   /* position: relative;
    top: 43%;*/
}

.about_rese_histo{

   display: grid;
     grid-template-columns: 18% 82%;
     align-items: start;
     justify-items: end;
   /*  position: relative;
     top: 100%;*/
 }
.titulos_n
{
 
  font-family: Oswald;
    font-size: calc(1.1em + 1.1vw);
    line-height: 1.5em;
    margin: 0em 0em 0em 0.7em;
}
.parrafo{
 
  font-size: calc(0.6em + 0.6vw);
  line-height: 1.5em;
  padding: 0.5em;
  margin: 0em 8em 1em 0.7em;
  text-align: justify;
}


.parrafo_res{
 
  font-size: calc(0.8em + 0.8vw);
  line-height: 1.4em;
  padding: 0.5em;
  margin: 0em 3em 0em 0.5em;
  text-align: justify;
}
.container_text {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}


.grip_mor{
  display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-items: end;
 /*   position: relative;
    top: 130%;*/
}

.logo_mrf{


width: 100%;
height: auto;
float: left; 
padding: 10px;
}


.bt_btn{
    text-decoration: none;
    background: rgb(226,0,26);
    background: linear-gradient(90deg, rgba(226,0,26,1) 0%, rgba(237,12,12,0.9780112728685224) 51%, rgba(226,0,26,1) 100%);
    padding: 10px 20px;
    border-radius: 22px;
    color: #fff;
    font-size: calc(0.4em + 0.4vw);
    box-shadow: 5px 5px 5px #000;

}
.bt_btn:hover {
    background-color: #E2001Ac8;
    color:#fff;
    box-shadow: 5px 4px 6px #dcdde1;

}
.titulo_mrg  {
 
  font-size: calc(1.2em + 1.2vw);
  line-height: 1.4em;
  padding: 2em;
  text-align: center;
  color: #E2001A;
}
.parrafo_mrg{

  font-size: calc(0.5em + 0.5vw);
  line-height: 1.2em;
  padding: 1em;
  text-align: left;
}

.grid_img_mrg{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;

}

.div_text_mrg {
  border-left-style: solid;
  border-left-width: 2px; 
  border-left-color: #E2001A;
}

.div_txt_botom_mrg {
  margin-right: 2em;
  border-bottom: 2px solid #E2001A;
}

.container_mrg {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.div_img_fondo_d{
  background-image: url("./../img/home/FONDO1.png");

  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position: right;
}

.div_img_fondo_iz{
  background-image: url("./../img/home/FONDO2.png");

  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-position: left;
}


.about_PP{

  width: 380px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}


/*calidad*/

.titulo_cali {
 
  color: #E2001A;
  font-family: Oswald;
  font-size: calc(1em + 1vw);
  line-height: 1.5em;
  margin: 0em 0em 0em 6em;
  letter-spacing: 0.2vw;
  width: 500px;
}

.sub_titulo_cali {

  font-size: calc(0.8em + 0.8vw);
  line-height: 1.4em;
  padding: 0.5em;
  margin: 0em 3em 0em 0em;
  text-align: left;
}

.img_cal{
  width: 8%;
  height: auto;
  float: left;
  margin-right: 15px;
}
.img_calp{
  width: 90%;
  height: auto;
  float: right;
}


.grid_img_cal {
 
  width: 50%;
  margin-bottom: 20px;
  margin: 1.5em 0em 0em 24em;
  overflow: hidden;
}
.fondo_cal_iz{
background-image: url(./../img/images/biggerdot.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position: left;
  }

  .fondo_cal_d{
    background-image: url(./../img/home/filtro3d.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-position: right;
      }

  .caja1{

    width: 400px;
    height: 430px;
    float: left;
    
  }

  .caja2{
    width: 550px;
    float: right;

  }

  .caja1 img {
 
    width: 45%;
    margin: 5em 0em 0em 13em;
  }

  .caja2 img{
    width: 100%;
  }

  .caja2_linea {
   
    height: AUTO;
    overflow: hidden;
    margin: 0em 0em 0em 1em;
    position: relative;
    background: url(../img/home/dot.gif) left 115px repeat-x;
}
.caja1_linea{

  background-image: url(../img/home/dot.gif);
  background-repeat: repeat-y;
  background-position: left bottom;
  background-position: right bottom;
  

}

.caja_linea
{


  background-image: url(../img/home/dot.gif);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-position: right bottom;
  margin: 0em 0em 0em 17em;
  width: 200px;
  height: 50px;

}
@media only screen and (max-width: 1888px) and (min-width: 1801px)  {

  .caja1 {
    height: 430px;
   
}
.caja_linea {
  margin: 0em 0em 0em 18em;
}
}

@media (max-width:1800px){
  .caja_linea {
    margin: 0em 0em 0em 18em;
  }
  .caja1 img {
    margin:5.5em 0em 0em 14em;
}
.caja1 {
  height: 400px;
 
}
}
@media (max-width:1740px){
  .caja_linea {
    margin: 0em 0em 0em 18em;
  }

.caja1 {
  height: 420px;
 
}
}
@media only screen and (max-width: 1799px) and (min-width: 1736px)  {
.caja1 {
  height: 420px;
}
}
@media only screen and (max-width: 1700px) and (min-width: 1560px)  {
  .caja_linea {
    margin: 0em 0em 0em 19em;
}
.caja1 {
  height: 400px;
}

}
@media only screen and (max-width: 1560px) and (min-width: 1520px)  {
  .caja_linea {
    margin: 0em 0em 0em 20em;
}
.caja1 {
  height: 390px;
}
}  
  

@media  (max-width: 1557px)  {
  .caja_linea {
    margin: 0em 0em 0em 19em;
}
.caja1 {
  height: 390px;
}
}

@media (max-width:1687px){
.caja1 {
  height: 400px;
 
}
}



@media only screen and (max-width: 1514px) and (min-width: 1430px)  {

  .caja1 {
    height: 390px;
   
}
.caja_linea {
  margin: 0em 0em 0em 20em;
}
}
@media (max-width:1440px){
  .caja_linea {
    margin: 0em 0em 0em 20.5em;
  }
  .caja1 img {
    width: 40%;
    margin: 5em 0em 0em 16em;
}
.caja1 {
  height: 380px;
}
.caja2 {
  width: 400px;
  float: right;
}

.caja_linea {
  width: 180px;

}
}

@media (max-width:1359px){
.img_boton_filtros {
  max-width: 450px;
 
}
.img_boton {

margin-right: 0px;

}
}
@media (max-width:1350px){

  .grid_img_cal {
    margin: 0.5em 0em 0em 15em;
  }

  .caja_linea
{

  margin: 0em 0em 0em 10em;
  height: 40px;

}

.caja1 {
  width: 200px;
  height: 320px;
}

.caja1 img {
  width: 70%;
  margin: 3em 0em 0em 6em;
}

.caja2_linea {

  margin: 0em 0em 0em 0em;
  background: url(../img/home/dot.gif) left 80px repeat-x;
}
}
@media (max-width:1300px){
  body {
   
    font-size: calc(0.7em + 0.7vw);
   
   
  }

  .flex_img_boton {
   
    max-width: 650px;
  
}

.img_boton {
  max-width: 120px;
  margin-left: 20px;
  margin-top: 0px;
}
.img_boton_filtros {
  max-width: 400px;
  max-height: 300;
  padding: 3px;
  margin: 2em 3em 0em 0em;
}


}
@media only screen and (max-width: 1200px) and (min-width: 1130px)  {

  .caja1 {
    height: 310px;
   
}
}
@media (max-width:1100px){

  .img_boton_filtros {
    margin: 2em 0em 0em 0em;
}
  .caja_linea {
    margin: 0em 0em 0em 11em;
    height: 30px;
    width: 150px;
}
.parrafo {

  margin: 0em 2em 1em 0.7em;

}
.titulo_cali {
  margin: 0em 0em 0em 6em;

}
.caja1 {
  width: 200px;
  height:300px;
}
 
}


@media (max-width:900px){

  .ligthbox_text {
    top: 20%;
    bottom: 5%;
    left: 10%;
    right: 10%;
}
.informacion, .bont_inform {
  font-size: calc(0.7em + 0.7vw);
}
  .caja2 {
    width: 350px;
}

  .img_icon_m {
    width: 40%;
  }
  .img_icon_v {
    width: 50%;
  }
  .flex_img_boton {
    max-width: 600px;
}


.caja_linea
{

  margin: 0em 0em 0em 6em;
  width: 100px;
  height: 25px;

}
.parrafo { margin: 0em 1em 1em 0em;
}

.grid_img_cal {
  width: 60%;
}
.titulo_cali {
  margin: 0em 3em 0em 5em;
}
.caja1 {
  width: 100px;
  height: 240px;
}
.caja1 img {
  width: 100%;
  margin: 4em 0em 0em 3em;
}
.caja2 {
  width: 300px;
  float: right;
}
.caja2_linea {
  background: url(../img/home/dot.gif) left 50px repeat-x;
}
.grid_img_cal {
  margin: 0.5em 0em 0em 10em;
}
}

@media (max-width:799px){
  .container_text {
    width: 95%;
  }
.img_boton {
  max-width: 100px;
  margin-left: 20px;
  margin-top: 0px;
}

.img_boton_filtros {
  max-width: 350px;
  max-height: 200;
  padding: 3px;
  margin: 2em 0em 0em 8em;
}
}

@media (max-width:610px){
  .parrafo,.parrafo_mrg {
    font-size: calc(0.7em + 0.7vw);
  }
  .flex_img_boton {
    max-width: 400px;
}

  .caja1 {
    width: 100px;
    height: 220px;
}
.caja2 {
  width: 250px;
}

  .container_mrg {
    width: 80%;
  
  }


.img_boton {
  max-width: 120px;
}
.img_boton_filtros {
  max-width: 270px;
  max-height: 200px;
}


}
@media (max-width:570px){

  .img_boton_filtros {
    max-width: 250px;
}

  .caja1 {
  
    height: 240px;
}
}

@media (max-width:490px){
  .img_boton {
    max-width: 100px;
    margin-left: 60px;
    margin-top: 0px;
}

  .caja1 {
  
    height: 210px;
}
.caja2 {
  width: 180px;
}
.sub_titulo_cali {
  margin: 0;
}
.caja_linea {
  margin: 0em 0em 0em 6.5em;
  width: 80px;
}
.flex_img_boton {
  display: flex;
  text-transform: uppercase;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.img_boton_filtros {
  margin: 2em 0em 0em 4em;
}
}

@media (max-width:428px){

  .grid_img_cal {
    margin: 0.5em 0em 0em 9em;
}
  .caja_linea {
    margin: 0em 0em 0em 4em;
    width: 80px;
}
.caja1 {
  height: 220px;
}
.caja1_linea {
  background-position: right 50%bottom;
}
.caja1 img {
  width: 100%;
  margin: 4em 0em 0em 1em;
}
.caja2_linea {
  background: url(../img/home/dot.gif) left 1px repeat-x;
}
.caja2_linea {

  width: 100%;
  margin: 0em 0em 0em 3.5em;
}
.sub_titulo_cali {
  font-size: calc(0.75em + 0.75vw);
}
}
/*
@media only screen and (max-width: 596px) and (min-width: 507px)  {

  .caja1 {
    height: 210px;
   
}
}

@media (max-width:560px){

  .img_boton_filtros {
    max-width: 250px;
    max-height: 200px;
   margin: 2em 0em 0em 0em;
  }
  .flex_img_boton {
    max-width: 350px;
  }
  }
@media only screen and (max-width: 550px) and (min-width: 500px)  {

  .titulo_cali {
    margin: 0em 3em 0em 6em;
}
.caja1 {
  height: 240px;
}
.caja2 {
  width: 200px;
}
.sub_titulo_cali {
text-align:left;
}

.grid_img_cal {
  margin: 0em 0em 0em 10em;
  width: 70%;
}
}

@media (max-width:400px){

  .grid_img_cal {
    margin: 0.5em 0em 0em 7em;
  
      width: 70%;
  
}
  .flex_img_boton {
    max-width: 300px;
}
.img_boton_filtros {
  max-width: 300px;
  max-height: 150px;
}


.img_boton {
  max-width: 120px;
}

.caja_linea {
  margin: 0em 0em 0em 4em;
  width: 100px;
  height: 25px;
}
.titulo_cali {
  margin: 0em 3em 0em 5em;
}

.caja1_linea {
background-position: center bottom;
}
.caja1 {
  width: 100px;
  height: 200px;
}
.caja1 img {
  width: 100%;
  margin: 4em 0em 0em 0em;
}
.sub_titulo_cali {
  text-align: left;
}
.caja2_linea {
  background: url(../img/home/dot.gif) left 10px repeat-x;
  width: 300px;
  margin: 0em 0em 0em 4em;
}
.caja2 {
  width: 170px;
  float: right;
}
}*/