
.about_tabla_edi{
    text-align: left;
    justify-content: end;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    display: block;
    grid-template-columns: 100%;
    row-gap: 20px;
    align-items: end;
    align-content: space-around;
    justify-items: stretch;
}

.about_tabla_espe{
    text-align: left;
    justify-content: end;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.es_tabla {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgb(255 255 255 / 98%);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
   
}

.editar_pro {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgb(255 255 255 / 98%);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.about-if_tabla_esp {
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 95% 5%;
    row-gap: 40px;
    background-color: #ddd;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.979);
    border-radius: 10px;
}

.about_boton {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 20px 20px 20px 20px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;  
}

.tex_tablas {
    text-align: center;
    line-height: 2;
    max-width: 100%;
}

.del{
    background-image:url('../img/svg/eliminar.svg');
    background-repeat:no-repeat;
    background-size: contain;
    height:30px;
    width:30px;
    background-position:center;
    background-color: #E2001A;
}

.ver{
    background-image:url('../img/svg/search.svg');
    background-repeat:no-repeat;
    background-size: contain;
    height:30px;
    width:30px;
    background-position:center;
    background-color: #E2001A;
}

.edi{
    background-image:url('../img/svg/edit_modify_icon-icons.com_72390.svg');
    background-repeat:no-repeat;
    background-size: contain;
    height:30px;
    width:30px;
    background-position:center;
    background-color: #E2001A; 
}

.foto{
    background-image:url('../img/svg/image-add.svg');
    background-repeat:no-repeat;
    height:30px;
    width:30px;
    background-position:center;
    background-color: #E2001A;   
}

.del:hover, .ver:hover, .edi:hover, .foto:hover{
    cursor: pointer;
    background-color: #E2001A8c;
}

.tabla_ver{
    background-color: #FFF;
     text-align: left;
     border-collapse: collapse;
     width: 400px;
}

.tabla_edi{
    background-color: #FFF;
    text-align: left;
    border-collapse: collapse;
    width: 460px;
}


table{
   background-color: #FFF;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
 
 }

 th, td {
    padding: 15px;
    font-size:0.9em;
 }

 thead{
    background-color:#ffffff;
    border-bottom: solid 3px ;
    color: #000000;
 }

table tbody tr:nth-child(even){
    background:#ddd;
 }
 tr:hover td{
    background:rgb(179, 176, 176);
    color: #FFF;
 }
 
 tr:hover  .b_td,.b_td{
    background:#fff;
    color: #FFF;
 }
 
.links {
    display: flex;
}

.links a {
    text-decoration: none;
    color: #E2001A;
    background-color: #ffffff;
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid #E2001A8c;
}

.links p {
    text-decoration: none;
    color: #fff;
    background-color: #E2001A;
    padding: 0.75em;
    border: 1px solid #E2001A;
    border-radius: 5px;
}

.links a:active {
    color: #fff;
    background-color: #ffffff;
}

.del:hover, .ver:hover, .edi:hover, .foto:hover{
    cursor: pointer;
    background-color: #E2001A8c;
}

@media (max-width:1200px){

    th, td {
        padding: 7px;
        font-size:0.7em;
    }
  
    .about_boton {
        display: grid;
        grid-template-columns: repeat(auto-fit, 10px,10px);
    }

}